- pygame

### - картинки
# ракетка (1 картинка на 2 ракетки или 2 картинки)
# мяч
# фон

### - музыка
# фоновая
# звук отскока от границы
# звук отскока от ракетки
# звуки поражения (или победы)
